*{
    margin: 0px;
    padding: 0px;
}

/*
    GENERAL
*/

body{
    background-color: midnightblue;
}

/*
    HEADER
*/

header{
    margin-top: 15px;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5px;
}

.speaker{
    padding: 5px;
    border-radius: 15px;
    background-color: gray;
    margin-right: 5px;
}

.expand{
    padding: 5px;
    border-radius: 15px;
    background-color: gray;
}

/*
    MAIN
*/

.container{
    background-color: red;
    margin: 25px 60px;
    height: calc((100vh - 15px) - 10px );
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 5px;
    width: calc((100vw / 4 )- 15px) ;
}

.immagine{
    max-width: 100%;
}


